*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 30px;
  align-items: end;
  inline-size: 1140px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.result__video-container {
  inline-size: 710px;
}

.result__video {
  block-size: 100%;
  inline-size: 100%;
  object-position: center;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__list {
  block-size: 300px;
  overflow: scroll;
}

.content__details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 25px;
}